body {
  font-family: Arial, sans-serif;
  background-color: #008080;
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.title {
  color: #008080;
  text-align: center;
}

.stopwatch {
  background: url('../img/plank.png') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: #008080;
  text-align: center;
  padding: 50px;
}

.time {
  font-size: 1.9rem;
}
.btns {
  display: flex;
  justify-content: space-around;
}

.btn {
  background: rgb(0, 128, 128, 0.4);
  color: #fff;
  border: solid 1px #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 30px 20px;
  width: 30%;
  outline: none;
}

button:hover {
  background: #fff;
  border: solid 1px #fff;
  color: #008080;
}

.js-laps {
  color: #fff;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
